<h2 class="sub-header text-center">Guestbook data</h2>
<div class="table-responsive">
    <table class="table table-striped" id="dataTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of guests; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                    <span *ngIf="!editbox[i]">{{ g.name }}</span>
                    <div *ngIf="editbox[i]">
                        <input type="text" name="name" [(ngModel)]="g.name">
                        <button (click)="update(i)">Ok</button>
                    </div>
                </td>
                <td>{{ g.created_date }}</td>
                <td>
                    <a class="btn btn-default" (click)="show(g.id)"><i class="fa fa-search"></i></a>
                    <a class="btn btn-default" (click)="edit(i)"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-default" (click)="delete(g.id)"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center" id="loading" *ngIf="loading">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw text-center"></i>
    </div>

    <div class="text-center" id="loadMore" *ngIf="!hidden">
        <button type="button" class="btn btn-default" (click)="loadMore()">Load more</button>
    </div>
</div>
